* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.note {
  position: absolute;
  color: rgb(32, 31, 30);
  top: 15px;
  left: 20px;
}

.note title {
  font-size: 20px;
}
